<p id="notice"><%= notice %></p>

  <h1>
    <strong>
      Category for for: <%= @user_category.person.title %> <%= @user_category.person.first_name %> <%= @user_category.person.last_name %>
    </strong>
  </h1>

<p>
  <strong>Category:</strong>
  <%= @user_category.category %>
</p>

<%= link_to 'Edit', edit_person_user_category_path(@person, @user_category) %> |
<%= link_to 'Back', person_path(@person) %>
