<h1>Login</h1>

<br />
<hr />

<p id=”alert”><%= alert %></p>

<%= form_tag sessions_path do |form| %>
  <div class="row">
    <div class="form-group col-md-6">
        <%= label_tag :email %>
        <%= text_field_tag :email, params[:email], class: 'form-control', autofocus: true %>
    </div>
    
    <div class="form-group col-md-6">
        <%= label_tag :password %>
        <%= password_field_tag :password, params[:password], class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= submit_tag "Login" %>
  </div>
<% end %>

<hr />
<br />