  <% flash.each do |type,msg| %>
    <% if type == 'notice' %>
      <div class="alert alert-success">
    <% elsif type == 'alert' %>
      <div class="alert alert-danger">
    <% else %>
      <div class="alert alert-info">
    <% end %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <p id="<%= type %>"><%= msg %></p>
    </div>
  <% end %>

<%= form_tag sessions_path do |form| %>

  <fieldset>
    <legend><h1>Login</h1></legend>
    <div class="row">
      <div class="form-group col-md-12">
          <%= label_tag :email %>
          <%= text_field_tag :email, params[:email], class: 'form-control', autofocus: true %>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-12">
          <%= label_tag :password %>
          <%= password_field_tag :password, params[:password], class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= submit_tag "Login" %>
    </div>
  </fieldset>

<% end %>
<br />