  <div class="form-row">
    <div class="form-group col-sm-3">
      <%= image_tag("covid19-5.png", alt: 'covid-19', id: "covid19") %>
    </div>

    <div class="form-group col-sm-3 col-sm-offset-6">
      <%= image_tag("covid19-5.png", alt: 'covid-19', id: "covid19") %>
    </div>
  </div>


<%= form_with(model: register, local: true) do |form| %>
  <% if register.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(register.errors.count, "error") %> prohibited this register from being saved:</h2>

      <ul>
      <% register.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h4>Required fields are followed by <abbr title="Required">*</abbr></h4>
  
  <div class="form-row">
    <div class="form-group col-sm-6">
      <h4><%= form.label :first_name %> <abbr title="Required" aria-label="required">*</abbr></h4>
      <%= form.text_field :name, class: "form-control" %>
    </div>
    
    <div class="form-group col-sm-6">
      <h4><%= form.label :last_name %> <abbr title="Required" aria-label="required">*</abbr></h4>
      <%= form.text_field :last_name, class: "form-control" %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-sm-6">
      <h4><%= form.label 'Contact Number' %> <abbr title="Required" aria-label="required">*</abbr></h4>
      <%= form.number_field :number, class: "form-control" %>
    </div>

    <div class="form-group col-sm-6">
      <div  style="color: black;">
      <h4 style="color: white;"><%= form.label :purpose %> <abbr title="Required" aria-label="required">*</abbr></h4>
      <%= form.select :purpose, @purpose_list.collect { |purpose| [purpose,purpose]}, prompt: 'Select Purpose...' %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-sm-2 col-sm-offset-5">
      <h4><%= form.label :temperature %></h4>
      <%= form.text_field :temp, class: "form-control" %>
    </div>
  </div>

  <div class="form-row">
    <div class="actions form-group col-sm-4 col-sm-offset-4">
      <%= form.submit 'Submit', class: 'btn btn-primary', id: "register-submit" %> <hr />
    </div>
  </div>

<% end %>
