<%= form_with(model: register, local: true) do |form| %>
  <% if register.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(register.errors.count, "error") %> prohibited this register from being saved:</h2>

      <ul>
      <% register.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <p>Required fields are followed by <abbr title="Required">*</abbr></p>

  <div class="form-row">
    <div class="form-group col-md-12">
      <h4><%= form.label :name %> <abbr title="Required" aria-label="required">*</abbr></h4>
      <%= form.text_field :name, class: "form-control" %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <h4><%= form.label :number %> <abbr title="Required" aria-label="required">*</abbr></h4>
      <%= form.number_field :number, class: "form-control"  %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12" >
      <h4><%= form.label :purpose %> <abbr title="Required" aria-label="required">*</abbr></h4>
      <p style="color: black;"><%= form.select :purpose, @purpose_list.collect { |purpose| [purpose,purpose]}, prompt: 'Select Purpose...', class: 'form-control' %></p>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <h4><%= form.label 'Location / Organisation' %></h4>
      <%= form.text_field :loc_org, class: "form-control"  %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <h4><%= form.label :temperature %></h4>
      <%= form.text_field :temp, class: "form-control"  %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit 'Submit', class: 'btn btn-primary' %> <hr />
  </div>
<% end %>
