<div class="container">
  <div class="jumbotron">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Name:</strong>
      <%= @register.name %>
    </p>

    <p>
      <strong>Number:</strong>
      <%= @register.number %>
    </p>

    <p>
      <strong>Date</strong>
      <%= @register.created_at + 7200 %>
    </p>

    <p>
      <strong>Purpose:</strong>
      <%= @register.purpose %>
    </p>

    <p>
      <strong>Location / Organisation:</strong>
      <%= @register.loc_org %>
    </p>

    <p>
      <strong>Temperature:</strong>
      <%= @register.temp %>
    </p>

    <%= link_to 'Edit', edit_register_path(@register) %> |
    <%= link_to 'Back', registers_path %>
  </div>
</div>
