<div class="container">
  <div class="jumbotron">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Name:</strong>
      <%= @register.name %>
    </p>

    <p>
      <strong>Number:</strong>
      <%= @register.number %>
    </p>

    <p>
      <strong>Purpose:</strong>
      <%= @register.purpose %>
    </p>

    <p>
      <strong>Loc org:</strong>
      <%= @register.loc_org %>
    </p>

    <p>
      <strong>Temp:</strong>
      <%= @register.temp %>
    </p>

    <%= link_to 'Edit', edit_register_path(@register) %> |
    <%= link_to 'Back', registers_path %>
  </div>
</div>