<tr>
  <td><%= assignment.si_no %></td>
  <td><%= assignment.assignment_name %></td>
  <td><%= assignment.project_name %></td>
  <td><%= assignment.commencement_date %></td>
  <td><%= assignment.completion_date %></td>
  <td><%= link_to 'View Full', person_assignment_path(@person, assignment) %></td>
  <td><%= link_to 'Edit', edit_person_assignment_path(@person, assignment) %></td>
  <td><%= link_to 'Destroy', [@person, assignment], method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>

