<%= form_with(model: [@person, assignment], local: true) do |form| %>
  <% if assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% assignment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>Required fields are followed by <abbr title="Required">*</abbr></p>

  <div class="field">
    <%= form.label "SI no" %>
    <%= form.text_field :si_no %>
  </div>

  <div class="field">
    <%= form.label 'Name of Assignment' %>
    <%= form.text_field :assignment_name %>
  </div>

  <div class="field">
    <%= form.label 'Name of Project' %>
    <%= form.text_field :project_name %>
  </div>

  <div class="field">
    <%= form.label 'Owner or Sponsoring Agency' %>
    <%= form.text_field :owner_sponsoring_agency %>
  </div>

  <div class="field">
    <%= form.label 'Cost of Project' %>
    <%= form.text_field :cost_of_project %>
  </div>

  <div class="field">
    <%= form.label 'Date of Commencement' %>
    <%= form.date_select :commencement_date %>
  </div>

  <div class="field">
    <%= form.label 'Date of Completion' %>
    <%= form.date_select :completion_date %>
  </div>

  <div class="field">
    <%= form.label 'Was assignment satisfactorily completed?' %>
    <%= form.text_field :satisfactorily_completed %>
  </div>

  <div>
    <%= form.hidden_field :person_id, :value => @person['id'], class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
