<p id="notice"><%= notice %></p>

  <h1>
    <strong>
    Assignment for: <%= @assignment.person.title %> <%= @assignment.person.first_name %> <%= @assignment.person.last_name %>
    </strong>
  </h1>

<p>
  <strong>Si no:</strong>
  <%= @assignment.si_no %>
</p>

<p>
  <strong>Assignment name:</strong>
  <%= @assignment.assignment_name %>
</p>

<p>
  <strong>Project name:</strong>
  <%= @assignment.project_name %>
</p>

<p>
  <strong>Owner sponsoring agency:</strong>
  <%= @assignment.owner_sponsoring_agency %>
</p>

<p>
  <strong>Cost of project:</strong>
  <%= @assignment.cost_of_project %>
</p>

<p>
  <strong>Commencement date:</strong>
  <%= @assignment.commencement_date %>
</p>

<p>
  <strong>Completion date:</strong>
  <%= @assignment.completion_date %>
</p>

<p>
  <strong>Satisfactorily completed:</strong>
  <%= @assignment.satisfactorily_completed %>
</p>

<%= link_to 'Edit', edit_person_assignment_path(@person, @assignment) %> |
<%= link_to 'Back', person_path(@person) %>
