<%= form_with(model: [@person, language_proficiency], local: true) do |form| %>
  <% if language_proficiency.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(language_proficiency.errors.count, "error") %> prohibited this language_proficiency from being saved:</h2>

      <ul>
      <% language_proficiency.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br />
  <hr />

  <div class="form-row">
    <div class="form-group col-md-3">
      <%= form.label :language %> <br />
      <%= form.text_field :language , class: "form-control" %>
    </div>

    <div class="form-group col-md-3">
      Read<br />
      <%= form.radio_button :read, 1 %> Beginner <br />
      <%= form.radio_button :read, 2 %> Intermediate <br />
      <%= form.radio_button :read, 3 %> Advanced <br />
    </div>

    <div class="form-group col-md-3">
      Write<br />
      <%= form.radio_button :write, 1 %> Beginner <br />
      <%= form.radio_button :write, 2 %> Intermediate <br />
      <%= form.radio_button :write, 3 %> Advanced <br />
    </div>

    <div class="form-group col-md-3">
      Read<br />
      <%= form.radio_button :speak, 1 %> Beginner <br />
      <%= form.radio_button :speak, 2 %> Intermediate <br />
      <%= form.radio_button :speak, 3 %> Advanced <br />
    </div>
  </div>

  <div class="form-group">
    <%= form.hidden_field :person_id, :value => @person['id'], class: "form-control" %>
  </div>

  <hr />
  <br />

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
