<p id="notice"><%= notice %></p>

<h1>Language Proficiencies</h1>

<div class="container table-container">
  <div class="row">
    <div class="col-md-12">
      <table id="langproficiencies-table" class="display">

        <thead>
          <tr>
            <th>Language</th>
            <th>Read</th>
            <th>Write</th>
            <th>Speak</th>
            <th>Person</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
      
        <tbody>
          <% @language_proficiencies.each do |language_proficiency| %>
            <tr>
              <td><%= language_proficiency.language %></td>
              <td><%= language_proficiency.read %></td>
              <td><%= language_proficiency.write %></td>
              <td><%= language_proficiency.speak %></td>
              <td><%= language_proficiency.person.full_name %></td>
              <td><%= link_to 'Show Person', person_path(@person) %></td>
              <td><%= link_to 'Edit Proficiency', edit_person_language_proficiency_path(@person, language_proficiency) %></td>
              <td><%= link_to 'Remove Proficiency', [@person, language_proficiency], method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
	
      </table>
    </div>
  </div>
</div>

<br>

<%= link_to 'New Language Proficiency', new_person_language_proficiency_path %>
