<%= form_with(model: person, local: true) do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br />
  <hr />

  <div class="form-row">
    <div class="form-group col-md-2">
      <%= form.label :title %>
      <%= form.text_field :title, class: "form-control" %>
    </div>

    <div class="form-group col-md-5">
      <%= form.label :first_name %>
      <%= form.text_field :first_name, class: "form-control" %>
    </div>

    <div class="form-group col-md-5">
      <%= form.label :last_name %>
      <%= form.text_field :last_name, class: "form-control" %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <%= form.label :dob %> <br />
      <%= form.date_select :dob, class: "form-control" %>
    </div>

    <div class="form-group col-md-4">
      <%= form.label :id_passport_number %>
      <%= form.text_field :id_passport_number, class: "form-control" %>
    </div>

    <div class="form-group col-md-4">
      <%= form.label :citizenship %> <br />
      <%= form.select :citizenship, CS.countries.each { |country| [country,country] } %>
      <p> <%= person.get_country? =%> </p>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <%= form.label :residential_address %> <br />
      <%= form.text_field :residential_address, class: "form-control" %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <%= form.label :permit_type %> <br />
      <%= form.text_field :permit_type, class: "form-control" %>
    </div>

    <div class="form-group col-md-4">
      <%= form.label :permit_number %> <br />
      <%= form.text_field :permit_number, class: "form-control" %>
    </div>

    <div class="form-group col-md-4">
      <%= form.label :permit_expiry_date %> <br />
      <%= form.date_select :permit_expiry_date, class: "form-control" %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <%= form.label 'Sector' %> <br />
      <%= form.select :sector_id, Sector.all.collect {|opt| [opt.sector, opt.id]}, prompt: 'Select Sector...'  %>
    </div>
  </div>

  <hr />

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
