<div class="container">
  <%= render '/layouts/alerts' %>
  <h1>Experts</h1>
  <br />

  <div class="row">
    <div class="col-md-12">
      <table id="people-table" class="display">

        <thead>
          <tr>
            <th>Title</th>
            <th>First Names</th>
            <th>Last Name</th>
            <th>Date of Birth</th>
            <th>ID Number/Passprt Number</th>
            <th>Citizenship</th>
            <th>Permit Holder</th>
            <th>Sector</th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% 

          @people.each do |person| %>
            <tr>
              <td><%= person.title %></td>
              <td><%= person.first_name %></td>
              <td><%= person.last_name %></td>
              <td><%= person.dob %></td>
              <td><%= person.id_passport_number %></td>
              <td><%= person.citizenship %></td>
              <td><%= person.permit_type.empty? ? "N/A" : "Yes" %></td>
              <td><%= person.sector.nil? ? "N/A" : person.sector.sector_name %></td>
              <td><%= link_to 'View Details', person %></td>
              <td><%= link_to 'Edit', edit_person_path(person) %></td>
            </tr>

          <% end %>
        </tbody>


      </table>
    </div>
  </div>
  
  <br>
  <%= link_to 'New Expert', new_person_path, class: 'btn btn-primary' %>

</div>
