<p id="notice"><%= notice %></p>

<% if @person.permit_type.empty?  %>

  <h1>
    <strong>
    <%= @person.title %> <%= @person.first_name %> <%= @person.last_name %>
    </strong>
  </h1>

  <p>
    <strong>Date of Birth:</strong>
    <%= @person.dob %>
  </p>

  <p>
    <strong>Identification Number:</strong>
    <%= @person.id_passport_number %>
  </p>

  <p>
    <strong>Citizenship:</strong>
    <%= @person.citizenship %>
  </p>

  <p>
    <strong>Residential:</strong>
    <%= @person.residential_address %>
  </p>

  <p>
    <strong>Sector:</strong>
    <%= @person.sector.sector_name %>
  </p>

<% else %>

  <h1>
    <strong>
    <%= @person.title %> <%= @person.first_name %> <%= @person.last_name %>
    </strong>
  </h1>

  <p>
    <strong>Date of Birth:</strong>
    <%= @person.dob %>
  </p>

  <p>
    <strong>Identification Number:</strong>
    <%= @person.id_passport_number %>
  </p>

  <p>
    <strong>Citizenship:</strong>
    <%= @person.citizenship %>
  </p>

  <p>
    <strong>Permit Type:</strong>
    <%= @person.permit_type %>
  </p>

  <p>
    <strong>Permit Number:</strong>
    <%= @person.permit_number %>
  </p>

  <p>
    <strong>Permit Expiry Date:</strong>
    <%= @person.permit_expiry_date %>
  </p>

  <p>
    <strong>Residential:</strong>
    <%= @person.residential_address %>
  </p>

  <p>
    <strong>Sector:</strong>
    <%= @person.sector.sector_name %>
  </p>

<% end %>

<hr />

<div class="table-responsive text-nowrap">
  <h3> Contact Details: </h3>
  <% if @person.contact %>
    <%= render @person.contact %>
  <% else %>
    <p>No Contact Details Exist</p>
    <%= link_to 'Add Contact', new_person_contact_path(@person) %>
  <% end %>
</div>

<div>
  <h3> Essay: </h3>
  <% if @person.essay %>
    <%= render @person.essay %>
  <% else %>
    <p>No Essay Exist</p>
    <%= link_to 'Add Essay', new_person_essay_path(@person) %>
  <% end %>
</div>

<div>
  <h3> Specialisations: </h3>
  <% if @person.specialisations.empty? %>
    <p>No Specialisation Exist</p>
  <% else %>
    <%= render @person.specialisations %>
  <% end %>
  <%= link_to 'Add Specialisation', new_person_specialisation_path(@person) %>
</div>

<hr />

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
