<p id="notice"><%= notice %></p>

  <h1>
    <strong>
    <%= @person.title %> <%= @person.first_name %> <%= @person.last_name %>
    </strong>
  </h1>

  <p>
    <strong>Date of Birth:</strong>
    <%= @person.dob %>
  </p>

  <p>
    <strong>Identification Number:</strong>
    <%= @person.id_passport_number %>
  </p>

  <p>
    <strong>Citizenship:</strong>
    <%= @person.citizenship %>
  </p>

  <% if !(@person.permit_type.empty?)  %>
      <p>
        <strong>Permit Type:</strong>
        <%= @person.permit_type %>
      </p>

      <p>
        <strong>Permit Number:</strong>
        <%= @person.permit_number %>
      </p>

      <p>
        <strong>Permit Expiry Date:</strong>
        <%= @person.permit_expiry_date %>
      </p>
  <% end %>

  <p>
    <strong>Residential:</strong>
    <%= @person.residential_address %>
  </p>

  <% if @person.sector.nil? %>
    <p>
      <strong>Sector:</strong>
      N/A
    </p>
  <% else %>
    <p>
      <strong>Sector:</strong>
      <%= @person.sector.sector_name %>
    </p>
  <% end %>

<hr />

<div class="table-responsive text-nowrap">
  <h3> Contact Details: </h3>
  <% if @person.contact %>
    <%= render @person.contact %>
  <% else %>
    <p>No Contact Details Exist</p>
    <%= link_to 'Add Contact', new_person_contact_path(@person) %>
  <% end %>
</div>

<div>
  <h3> Essay: </h3>
  <% if @person.essay %>
    <%= render @person.essay %>
  <% else %>
    <p>No Essay Exist</p>
    <%= link_to 'Add Essay', new_person_essay_path(@person) %>
  <% end %>
</div>

<div>
  <h3> Specialisations: </h3>
  <% if @person.specialisations.empty? %>
    <p>No Specialisations Exist</p>
  <% else %>
    <%= render @person.specialisations %>
  <% end %>
  <%= link_to 'Add Specialisation', new_person_specialisation_path(@person) %>
</div>

<div>
  <h3> Languages: </h3>
  <% if @person.language_proficiencies.empty? %>
    <p>No Language Proficiencies Exist</p>
  <% else %>
    <table id="langproficiencies-table" class="display">
      <thead>
        <tr>
          <th>Language</th>
          <th>Read</th>
          <th>Write</th>
          <th>Speak</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= render @person.language_proficiencies %>
      </tbody>
    </table>
  <% end %>
  <%= link_to 'Add Language Proficiency', new_person_language_proficiency_path(@person) %>
</div>

<div>
  <h3> Skills and Competencies: </h3>
  <% if @person.skills.empty? %>
    <p>No Skills and Competencies Exist</p>
  <% else %>
      <table id="skills-table" class="display">
        <thead>
          <tr>
            <th>Skill</th>
            <th>Rating</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%= render @person.skills %>
        </tbody>
      </table>

  <% end %>
  <%= link_to 'Add Skill', new_person_skill_path(@person) %>
</div>

<div>
  <h3> Qualifications: </h3>
  <% if @person.qualifications.empty? %>
    <p>No Qualifications Exist</p>
  <% else %>

      <table id="qualifications-table" class="display">

        <thead>
          <tr>
            <th>Qualification</th>
            <th>Institution</th>
            <th>NQF Level</th>
            <th>Start</th>
            <th>End</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <%= render @person.qualifications %>
        </tbody>
	
      </table>

  <% end %>
  <%= link_to 'Add Qualifications', new_person_qualification_path(@person) %>
</div>

<div>
  <h3> Professional Memberships: </h3>
  <% if @person.professional_memberships.empty? %>
    <p>No Specialisation Exist</p>
  <% else %>
      <table id="professionalmembership-table" class="display">
        <thead>
          <tr>
            <th>Professional Body</th>
            <th>Registration Number</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%= render @person.professional_memberships %>
        </tbody>
      </table>

  <% end %>
  <%= link_to 'Add Membership', new_person_professional_membership_path(@person) %>
</div>

<div>
  <h3> References: </h3>
  <% if @person.references.empty? %>
    <p>No References Exist</p>
  <% else %>
      <table id="references-table" class="display">
        <thead>
          <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Telephone</th>
            <th>Employer</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
          <%= render @person.references %>
        <tbody>
        </tbody>
      </table>

  <% end %>
  <%= link_to 'Add Reference', new_person_reference_path(@person) %>
</div>

<hr />

<%= link_to 'Edit', edit_person_reference_path(@person) %> |
<%= link_to 'Back', people_path %>
