<%= form_with(model: [@person, qualification], local: true) do |form| %>
  <% if qualification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(qualification.errors.count, "error") %> prohibited this qualification from being saved:</h2>

      <ul>
      <% qualification.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>Required fields are followed by <abbr title="Required">*</abbr></p>

  <div class="form-row">
    <div class="form-group col-md-8">
      <%= form.label :qual_obtained %> <abbr title="Required" aria-label="required">*</abbr> <br />
      <%= form.text_field :qual_obtained , class: "form-control" %>
    </div>

    <div class="form-group col-md-4">
      <%= form.label :nqf_level %> <br />
      <%= form.number_field :nqf_level, class: "form-control" %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <%= form.label :institution %> <abbr title="Required" aria-label="required">*</abbr> <br />
      <%= form.text_field :institution, class: "form-control" %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <%= form.label :courses_passed %> <br />
      <%= form.text_area :courses_passed, class: "form-control" %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <%= form.label :major_subjects %> <br />
      <%= form.text_area :major_subjects, class: "form-control" %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= form.label :date_from %> <br />
      <%= form.date_select :date_from, class: "form-control" %>
    </div>

    <div class="form-group col-md-6">
      <%= form.label :date_to %> <br />
      <%= form.date_select :date_to, class: "form-control" %>
    </div>
  </div>

  <div>
    <%= form.hidden_field :person_id, :value => @person['id'], class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
