<p id="notice"><%= notice %></p>

<h1>
  <strong>
  Qualification for: <%= @qualification.person.title %> <%= @qualification.person.full_name %>
  </strong>
</h1>

<p>
  <strong>Qualification Obtained:</strong>
  <%= @qualification.qual_obtained %>
</p>

<p>
  <strong>Institution:</strong>
  <%= @qualification.institution %>
</p>

<p>
  <strong>Courses Passed:</strong>
  <pre><%= @qualification.courses_passed %></pre>

</p>

<p>
  <strong>Major Subjects:</strong>
  <pre><%= @qualification.major_subjects %></pre>

</p>

<p>
  <strong>NQF Level:</strong>
  <%= @qualification.nqf_level %>

</p>

<p>
  <strong>Start Date:</strong>
  <%= @qualification.date_from %>

</p>

<p>
  <strong>End Date:</strong>
  <%= @qualification.date_to %>

</p>

<%= link_to 'Edit', edit_person_qualification_path(@person, @qualification) %> |
<%= link_to 'Back', person_path(@person) %>
