<p id="notice"><%= notice %></p>

<div class=" container table-container">

  <h1>Skills and Competencies</h1>
  <br />

  <div class="row">
    <div class="col-md-12">
      <table id="static-table" class="display">

        <thead>
          <tr>
            <th>Skill</th>
            <th>Rating</th>
            <th>Person</th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @skills.each do |skill| %>
            <tr>
              <td><%= skill.skill_type.type_name %></td>
              <td><%= skill.get_rating %></td>
              <td><%= skill.person.full_name %></td>
              <td><%= link_to 'View Skill and Competency', all_skill_path(skill) %></td>
              <td><%= link_to 'Show Person', person_path(skill.person) %></td>
            </tr>
          <% end %>
        </tbody>
	
      </table>
    </div>
  </div>
  
  <br>
  <%= link_to 'New Skill', new_all_skill_path %>

</div>