<%= form_with(model: sector, local: true) do |form| %>
  <% if sector.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sector.errors.count, "error") %> prohibited this sector from being saved:</h2>

      <ul>
      <% sector.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>Required fields are followed by <abbr title="Required">*</abbr></p>

  <div class="form-group">
    <%= form.label :sector %> <abbr title="Required" aria-label="required">*</abbr> <br />
    <%= form.text_field :sector, class: "form-control" %>
  </div>

  <hr />

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
