<p id="notice"><%= notice %></p>

<h1>Sectors</h1>

<div class="container table-container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <table id="static-table" class="display">
        <thead>
          <tr>
            <th>Sector</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
      
        <tbody>
          <% @sectors.each do |sector| %>
            <tr>
              <td><%= sector.sector %></td>
              <td><%= link_to 'Show', sector %></td>
              <td><%= link_to 'Edit', edit_sector_path(sector) %></td>
              <td><%= link_to 'Destroy', sector, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<br>

<%= link_to 'New Sector', new_sector_path %>
