<%= form_with(model: [@person, professional_membership], local: true) do |form| %>
  <% if professional_membership.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(professional_membership.errors.count, "error") %> prohibited this professional_membership from being saved:</h2>

      <ul>
      <% professional_membership.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>Required fields are followed by <abbr title="Required">*</abbr></p>

  <div class="form-row">
    <div class="form-group col-md-12">
      <%= form.label :body_name %> <abbr title="Required" aria-label="required">*</abbr> <br />
      <%= form.text_field :body_name , class: "form-control" %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <%= form.label :registration_number %> <br />
      <%= form.number_field  :registration_number, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.hidden_field :person_id, :value => @person['id'], class: "form-control" %>
  </div>

  <hr />
  <br />

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %> <hr>
  </div>
<% end %>
