<p id="notice"><%= notice %></p>

<div class="container">
  <h1>Professional Memberships</h1>

  <div class="row">
    <div class="col-md-12">
      <table id="professionalmembership-table" class="display">

        <thead>
          <tr>
            <th>Professional Body</th>
            <th>Registration Number</th>
            <th>Person</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @professional_memberships.each do |professional_membership| %>
            <tr>
              <td><%= professional_membership.body_name %></td>
              <td><%= professional_membership.registration_number %></td>
              <td><%= professional_membership.person.full_name %></td>
              <td><%= link_to 'Show Person', person_path(@person) %></td>
              <td><%= link_to 'Edit Membership', edit_person_professional_membership_path(@person, professional_membership) %></td>
              <td><%= link_to 'Destroy Membership', [@person, professional_membership], method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>

	
      </table>
    </div>
  </div>

  <br>

  <%= link_to 'New Professional Membership', new_person_professional_membership_path, class: 'btn btn-primary' %>

</div>
