<%= form_with(model: skill, local: true) do |form| %>
  <% if skill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(skill.errors.count, "error") %> prohibited this skill from being saved:</h2>

      <ul>
      <% skill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="form-row">
    <div class="form-group col-md-12">
      <%= form.label :person_id %> <br />
      <%= form.select :person_id, Person.all.collect { |person| [person.full_name, person.id] }, prompt: 'Select Person...' %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= form.label :skill_type_id %> <br />
      <%= form.select :skill_type_id, SkillType.all.collect { |type| [type.type_name, type.id] }, prompt: 'Select Skill...' %>
    </div>

    <div class="form-group col-md-6">
      <%= form.label :rating %> <br />
      <%= form.number_field :rating, class: "form-control" %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
