<p id="notice"><%= notice %></p>

<div class="container">

  <h1>Skills</h1>

  <div class="row">
    <div class="col-md-12">
      <table id="skills-table" class="display">

        <thead>
          <tr>
            <th>Skill</th>
            <th>Rating</th>
            <th>Person</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @skills.each do |skill| %>
            <tr>
              <td><%= skill.skill_type.type_name %></td>
              <td><%= skill.get_rating %></td>
              <td><%= skill.person.full_name %></td>
              <td><%= link_to 'Show Person', person_path(@person) %></td>
              <td><%= link_to 'Edit Skill', edit_person_skill_path(@person, skill) %></td>
              <td><%= link_to 'Remove Skill', [@person, skill], method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
	
      </table>
    </div>
  </div>
  
  <br>

  <%= link_to 'New Skill', new_person_skill_path %>

</div>
