<section class="jumbotron">
  <div class="container">
    <div class="row text-center">
      <h1>NIPAM Resource Pool</h1>
      <p>This is the resource pool information of experts needed by NIPAM.</p>
      <p>
      <strong>Add</strong>, <strong>view</strong>, <strong>update</strong> and <strong>delete</strong> records here.
      </p>
   </div>
  </div>
</section>

<section class="container">

  <div class="page-header">
    <h1><strong>Resource Pool Information</strong></h1>      
  </div>

  <!-- 
  <div class="jumbotron">
    <h3><strong>Add Full Record | Coming soon!</strong></h3>
    <p>A full record is a single process of entering an application form.</p>
    <p>
    Personal Information <span class="glyphicon glyphicon-arrow-right"></span>
    Contact Details <span class="glyphicon glyphicon-arrow-right"></span>
    Specialisations <span class="glyphicon glyphicon-arrow-right"></span>
    Langauges <span class="glyphicon glyphicon-arrow-right"></span>
    etc...
    </p>
    <button class="btn btn-primary disabled">Add Full Record</button>
  </div>

  <h3><strong>Add Single Record</strong></h3>
  -->

  <div class="form-row">
    <!-- Specialisations -->
    <div class="form-group col-md-6">
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">Specialisations</div>
            <div class="panel-body">
              <div class="list-group">
                <%= link_to 'Add', new_all_specialisation_path, class: 'list-group-item list-group-item-info' %>
                <%= link_to 'View all', all_specialisations_path, class: 'list-group-item list-group-item-info' %>
              </div>
            </div>
        </div>
      </div>
    </div>
  
    <!-- Qualifications -->
    <div class="form-group col-md-6">
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">Qualifications</div>
          <div class="panel-body">
            <div class="list-group">
              <%= link_to 'Add', new_all_qualification_path, class: 'list-group-item list-group-item-info' %>
              <%= link_to 'View all', all_qualifications_path, class: 'list-group-item list-group-item-info' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-row">
    <!-- Skills and Competencies -->
    <div class="form-group col-md-6">
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">Skills and Competencies</div>
            <div class="panel-body">
              <div class="list-group">
                <%= link_to 'Add', new_all_skill_path, class: 'list-group-item list-group-item-info' %>
                <%= link_to 'View all', all_skills_path, class: 'list-group-item list-group-item-info' %>
              </div>
            </div>
        </div>
      </div>
    </div>
  
    <!-- Professional Memberships -->
    <div class="form-group col-md-6">
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">Professional Memberships</div>
            <div class="panel-body">
              <div class="list-group">
                <%= link_to 'Add', new_all_professional_membership_path, class: 'list-group-item list-group-item-info' %>
                <%= link_to 'View all', all_professional_memberships_path, class: 'list-group-item list-group-item-info' %>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-row">
    <!-- Experts -->
    <div class="form-group col-md-12">
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">Experts</div>
            <div class="panel-body">
              <div class="list-group">
                <%= link_to 'Add', new_person_path, class: 'list-group-item list-group-item-info' %>
                <%= link_to 'View all', people_path, class: 'list-group-item list-group-item-info' %>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

</section>