<section class="jumbotron">
  <div class="container">
    <div class="row text-center">
      <h1>NIPAM Resource Pool</h1>
   </div>
  </div>
</section>

<section class="container">

  <% flash.each do |type,msg| %>
    <% if type == 'notice' %>
      <div class="alert alert-success">
    <% elsif type == 'alert' %>
      <div class="alert alert-danger">
    <% else %>
      <div class="alert alert-info">
    <% end %>
      <p id="<%= type %>"><%= msg %></p>
    </div>
  <% end %>

  <div class="form-row">
    <!-- Specialisations -->
    <div class="form-group col-md-6">
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading"><h3>Specialisations</h3></div>
            <div class="panel-body">
              <div class="list-group">
                <%= link_to 'Add', new_all_specialisation_path, class: 'list-group-item list-group-item-info' %>
                <%= link_to 'View all', all_specialisations_path, class: 'list-group-item list-group-item-info' %>
              </div>
            </div>
        </div>
      </div>
    </div>
  
    <!-- Qualifications -->
    <div class="form-group col-md-6">
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading"><h3>Qualifications</h3></div>
          <div class="panel-body">
            <div class="list-group">
              <%= link_to 'Add', new_all_qualification_path, class: 'list-group-item list-group-item-info' %>
              <%= link_to 'View all', all_qualifications_path, class: 'list-group-item list-group-item-info' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-row">
    <!-- Skills and Competencies -->
    <div class="form-group col-md-6">
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading"><h3>Skills and Competencies</h3></div>
            <div class="panel-body">
              <div class="list-group">
                <%= link_to 'Add', new_all_skill_path, class: 'list-group-item list-group-item-info' %>
                <%= link_to 'View all', all_skills_path, class: 'list-group-item list-group-item-info' %>
              </div>
            </div>
        </div>
      </div>
    </div>
  
    <!-- Professional Memberships -->
    <div class="form-group col-md-6">
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading"><h3>Professional Memberships</h3></div>
            <div class="panel-body">
              <div class="list-group">
                <%= link_to 'Add', new_all_professional_membership_path, class: 'list-group-item list-group-item-info' %>
                <%= link_to 'View all', all_professional_memberships_path, class: 'list-group-item list-group-item-info' %>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-row">
    <!-- Experts -->
    <div class="form-group col-md-12">
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading"><h3>Experts</h3></div>
            <div class="panel-body">
              <div class="list-group">
                <%= link_to 'Add', new_person_path, class: 'list-group-item list-group-item-info' %>
                <%= link_to 'View all', people_path, class: 'list-group-item list-group-item-info' %>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

</section>
