<%= form_with(model: [@person, contact], local: true) do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>Required fields are followed by <abbr title="Required">*</abbr></p>

  <div class="form-row">    
    <div class="form-group col-md-12">
      <%= form.label :email %> <abbr title="Required" aria-label="required">*</abbr> <br />
      <%= form.text_field :email, class: 'form-control' %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <%= form.label :postal_address %> <br />
      <%= form.text_area :postal_address, class: 'form-control'  %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= form.label :mobile %> <abbr title="Required" aria-label="required">*</abbr> <br />
      <%= form.number_field :mobile, class: "form-control" %>
    </div>

    <div class="form-group col-md-6">
      <%= form.label :fax %> <br />
      <%= form.number_field :fax, class: "form-control" %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= form.label :work_telephone %> <br />
      <%= form.number_field :work_telephone, class: "form-control" %>
    </div>

    <div class="form-group col-md-6">
      <%= form.label :home_telephone %> <br />
      <%= form.number_field :home_telephone, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.hidden_field :person_id, :value => @person['id'], class: "form-control" %>
  </div>
  
  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %> <hr >
  </div>
<% end %>
