<p id="notice"><%= notice %></p>

<div class="container">

  <h1>Contacts</h1>

  <div class="row">
    <div class="col-md-12">
      <table id="static-table" class="display">

        <thead>
          <tr>
            <th>Postal Address</th>
            <th>Telephone Work</th>
            <th>Telephone Home</th>
            <th>Fax</th>
            <th>Mobile</th>
            <th>Email</th>
            <th>Person</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @contacts.each do |contact| %>
            <tr>
              <td><%= contact.postal_address %></td>
              <td><%= contact.work_telephone %></td>
              <td><%= contact.home_telephone %></td>
              <td><%= contact.fax %></td>
              <td><%= contact.mobile %></td>
              <td><%= contact.email %></td>
              <td><%= contact.person.full_name %></td>
              <td><%= link_to 'Show Person', [@person] %></td>
              <td><%= link_to 'Edit Contact', edit_person_contact_path(@person, contact) %></td>
              <td><%= link_to 'Destroy Contact', [@person, contact], method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
	
      </table>
    </div>
  </div>
  
  <br>

  <%= link_to 'New Contact', new_person_contact_path(@person), class: 'btn btn-primary' %>

</div>
