<p id="notice"><%= notice %></p>

<div class="container">

  <h1>Specialisations</h1>
  <br />
  
  <div class="row">
    <div class="col-md-12">
      <table id="static-table" class="display">

        <thead>
          <tr>
            <th>Field</th>
            <th>Level</th>
            <th>Station Duty</th>
            <th>Category</th>
            <th>Person</th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @specialisations.each do |specialisation| %>
            <tr>
              <td><%= specialisation.field.field %></td>
              <td><%= specialisation.level %></td>
              <td><%= specialisation.station_duty %></td>
              <td><%= specialisation.category.category %></td>
              <td><%= specialisation.person.full_name %></td>
              <td><%= link_to 'View Specialisation', all_specialisation_path(specialisation) %></td>
              <td><%= link_to 'Show Person', person_path(specialisation.person) %></td>
            </tr>
          <% end %>
        </tbody>
	
      </table>
    </div>
  </div>

  <br>
  <%= link_to 'New Specialisation', new_all_specialisation_path %>

</div>

