<%= form_with(model: [@person, employment_history], local: true) do |form| %>
  <% if employment_history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employment_history.errors.count, "error") %> prohibited this employment_history from being saved:</h2>

      <ul>
      <% employment_history.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>Required fields are followed by <abbr title="Required">*</abbr></p>

  <div class="form-row">
    <div class="form-group col-md-12">
      <%= form.label :employer %> <abbr title="Required" aria-label="required">*</abbr> <br />
      <%= form.text_field :employer, class: "form-control" %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <%= form.label :position_held %> <abbr title="Required" aria-label="required">*</abbr> <br />
      <%= form.text_field :position_held, class: "form-control" %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= form.label :date_from %> <br />
      <%= form.date_select :date_from, start_year: Date.today.year, end_year: 1970, class: "form-control", prompt: { day: 'Day', month: 'Month', year: 'Year' } %>
    </div>

    <div class="form-group col-md-6">
      <%= form.label :date_to %> <br />
      <%= form.date_select :date_to, start_year: Date.today.year, end_year: 1970, class: "form-control", prompt: { day: 'Day', month: 'Month', year: 'Year' } %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <%= form.label :key_performance_areas %> <br />
      <%= form.text_area :key_performance_areas, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= form.hidden_field :person_id, :value => @person['id'], class: "form-control" %>
  </div>
  
  <hr />
  <br />

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %> <hr>
  </div>
<% end %>
