<p id="notice"><%= notice %></p>

<h1>Employment Histories</h1>

<div class="container table-container">
  <div class="row">
    <div class="col-md-12">
      <table id="emphistories-table" class="display">

        <thead>
          <tr>
            <th>Organisation/Institution</th>
            <th>From</th>
            <th>Till</th>
            <th>Position Held</th>
            <th>Person</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @employment_histories.each do |history| %>
            <tr>
              <td><%= history.employer %></td>
              <td><%= history.date_from %></td>
              <td><%= history.date_to %></td>
              <td><%= history.position_held %></td>
              <td><%= history.person.full_name %></td>
              <td><%= link_to 'Show Person', person_path(@person) %></td>
              <td><%= link_to 'Edit Previous Employment', edit_person_employment_history_path(@person, history) %></td>
              <td><%= link_to 'Remove Previous Employment', [@person, history], method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>

	
      </table>
    </div>
  </div>
</div>
<br>

<%= link_to 'New Employment History', new_person_employment_history_path %>
