<%= form_with(model: @professional_membership, url: all_professional_memberships_url, local: true) do |form| %>
  <% if @professional_membership.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@professional_membership.errors.count, "error") %> prohibited this professional_membership from being saved:</h2>

      <ul>
      <% @professional_membership.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>Required fields are followed by <abbr title="Required">*</abbr></p>
  
  <div class="form-row">
    <div class="form-group col-md-12">
      <%= form.label :person_id %> <abbr title="Required" aria-label="required">*</abbr> <br />
      <%= form.select :person_id, Person.all.collect { |person| [person.full_name, person.id] }, prompt: 'Select Person...' %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <%= form.label :body_name %> <abbr title="Required" aria-label="required">*</abbr> <br />
      <%= form.text_field :body_name , class: "form-control" %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <%= form.label :registration_number %> <br />
      <%= form.number_field  :registration_number, class: "form-control" %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %> <hr>
  </div>
<% end %>
