<p id="notice"><%= notice %></p>

<div class="container">

  <h1>Professional Memberships</h1>
  <br />

  <div class="row">
    <div class="col-md-12">
      <table id="static-table" class="display">

        <thead>
          <tr>
            <th>Professional Body</th>
            <th>Registration Number</th>
            <th>Person</th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @professional_memberships.each do |professional_membership| %>
            <tr>
              <td><%= professional_membership.body_name %></td>
              <td><%= professional_membership.registration_number %></td>
              <td><%= professional_membership.person.full_name %></td>
              <td><%= link_to 'View Professional Membership', all_professional_membership_path(professional_membership) %></td>
              <td><%= link_to 'Show Person', person_path(professional_membership.person) %></td>
            </tr>
          <% end %>
        </tbody>

	
      </table>
    </div>
  </div>

  <br>
  <%= link_to 'New Professional Membership', new_all_professional_membership_path %>

</div>

