<%= form_with(model: [@person, specialisation], local: true) do |form| %>
  <% if specialisation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(specialisation.errors.count, "error") %> prohibited this specialisation from being saved:</h2>

      <ul>
      <% specialisation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>Required fields are followed by <abbr title="Required">*</abbr></p>

  <div class="form-row">
    <div class="form-group col-md-12">
      <%= form.label 'Area of specialisation' %><br />
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <%= form.label 'Field of specialisation' %> <abbr title="Required" aria-label="required">*</abbr> <br />
      <%= form.select :field_id, Field.all.collect { |field| [field.field, field.id] }, prompt: 'Select Field...' %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <%= form.label :level %> <abbr title="Required" aria-label="required">*</abbr> <br />
      <%= form.select :level, @level_array.each { |level| [level,level]}, prompt: 'Select Level...'  %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <%= form.label :station_duty %> <abbr title="Required" aria-label="required">*</abbr> <br />
      <%= form.select :station_duty, @namibian_cities.each { |city| [city,city]}, prompt: 'Select City/Town...'  %>
  </div>

  <div>
    <%= form.hidden_field :person_id, :value => @person['id'], class: "form-control" %>
  </div>


  <div class="form-row">
    <div class="actions form-group col-md-12">
      <%= form.submit class: 'btn btn-primary' %> <hr>
    </div>
  </div>
<% end %>
