<%= form_with(model: [@person, specialisation], local: true) do |form| %>
  <% if specialisation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(specialisation.errors.count, "error") %> prohibited this specialisation from being saved:</h2>

      <ul>
      <% specialisation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br />
  <hr />

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= form.label :category_id %> <br />
      <%= form.select :category_id, Category.all.collect { |category| [category.category, category.id] }, prompt: 'Select Category...' %>
    </div>

    <div class="form-group col-md-6">
      <%= form.label :field_id %> <br />
      <%= form.select :field_id, Field.all.collect { |field| [field.field, field.id] }, prompt: 'Select Field of Specialisation...' %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= form.label 'Region' %><br />
      <select id="states-of-country" name="project[state]">
        <option value="" selected="">Select Region...</option>
        <% CS.states(:na).each do |key, value| %>
          <option value="<%= key %>"><%= value %></option>
        <% end %>
      </select>
    </div>

    <div class="form-group col-md-6">
      <%= form.label :station_duty %><br />
      <select id="specialisation_station_duty" name="specialisation[station_duty]">
        <option value="" selected="">Select Region FIRST...</option>
      </select>
    </div>

    <script>
      $('#states-of-country').change(function () {
        var input_state = $(this);
        var cities_of_state = $("#specialisation_station_duty");

        if($(this).val() == "") {
        cities_of_state.html("");

        } else {
          $.getJSON('/cities/' + $(this).val(), function (data) {
          // cities_of_state.empty();
          var opt = '<option value="" selected="">Select Your City</option>';
          console.log(data);
          if(data.length == 0){

          } else {
            data.forEach(function(i) {
              opt += '<option value='+ i +'>' + i + '</option>';
                cities_of_state.html(opt);
              });
            }
          });
        }
      });
    </script>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <%= form.label :level %>
      <%= form.text_field :level, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.hidden_field :person_id, :value => @person['id'], class: "form-control" %>
  </div>

  <hr />
  <br />

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
