<tr>
  <td><%= specialisation.field.field %></td>
  <td><%= specialisation.level %></td>
  <td><%= specialisation.station_duty %></td>
  <td><%= specialisation.area %></td>
  <td><%= link_to 'Edit', edit_person_specialisation_path(@person, specialisation) %></td>
  <td><%= link_to 'Destroy', [@person, specialisation], method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
