<p id="notice"><%= notice %></p>

<div class="container">

  <h1>Specialisations</h1>

  <div class="row">
    <div class="col-md-12">
      <table id="specialisation-table" class="display">

        <thead>
          <tr>
            <th>Field</th>
            <th>Level</th>
            <th>Station Duty</th>
            <th>Category</th>
            <th>Person</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @specialisations.each do |specialisation| %>
            <tr>
              <td><%= specialisation.field.field %></td>
              <td><%= specialisation.level %></td>
              <td><%= specialisation.station_duty %></td>
              <td><%= specialisation.category.category %></td>
              <td><%= specialisation.person.full_name %></td>
              <td><%= link_to 'Show Person', person_path(@person) %></td>
              <td><%= link_to 'Edit', edit_person_specialisation_path(@person, specialisation) %></td>
              <td><%= link_to 'Destroy', [@person, specialisation], method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
	
      </table>
    </div>
  </div>
  
  <br>

  <%= link_to 'New Specialisation', new_person_specialisation_path, class: 'btn btn-primary' %>

</div>
