<p id="notice"><%= notice %></p>

<div class="container">

  <h1>Essays</h1>

  <div class="row">
    <div class="col-md-12">
      <table id="static-table" class="display">

        <thead>
          <tr>
            <th>Understanding Nipam's Role</th>
            <th>Candidate's Suitability</th>
            <th>Person</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @essays.each do |essay| %>
            <tr>
              <td><%= essay.understanding_nipam_role %></td>
              <td><%= essay.candidate_suitability %></td>
              <td><%= essay.person.full_name %></td>
              <td><%= link_to 'Show Person', person_contact_path(@person) %></td>
              <td><%= link_to 'Edit Essay', edit_person_essay_path(@person, essay) %></td>
              <td><%= link_to 'Remove Essay', [@person, essay], method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>

	
      </table>
    </div>
  </div>
  
  <br>

  <%= link_to 'New Essay', new_person_contact_path(@person) %>

</div>

