<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>
    The Role of NIPAM in Transforming the Public Sector
  </h1>

  <h3>
    <strong>
      <%= @essay.person.title %> <%= @essay.person.full_name %>
    </strong>
  </h3>

  <p>
    <strong>Understanding of the Role of NIPAM:</strong>
    <pre><%= @essay.understanding_nipam_role %></pre>
  </p>

  <p>
    <strong>Candidate Suitability:</strong>
    <pre><%= @essay.candidate_suitability %></pre>
  </p>

  <%= link_to 'Edit', edit_person_essay_path(@person, @essay), class: 'btn btn-primary' %> |
  <%= link_to 'Back', person_path(@person), class: 'btn btn-primary' %>
</div>